version: 2.1

# Reusable YAML chunks
defaults:
  prod_deploy_filters: &prod_deploy_filters
    filters:
      branches:
        ignore: /.*/
      tags:
        only: /^v[0-9]*(\.[0-9]*)*$/

orbs:
  codecov: codecov/codecov@1.0.2
  vfcommon: voiceflow/common@0.0.54

jobs:
  test:
    executor: vfcommon/code-test-executor
    steps:
      - checkout
      - vfcommon/install_node_modules
      - vfcommon/setup_dynamodb
      - vfcommon/lint_source
      - vfcommon/lint_dockerfile
      - vfcommon/build
      - vfcommon/unit_tests
      - codecov/upload:
          file: nyc_coverage/lcov.info
          flags: unit
      - vfcommon/integration_tests
      - codecov/upload:
          file: nyc_coverage/lcov.info
          flags: integration
      # temp steps
      - vfcommon/install_aws_cli
      - vfcommon/clone_s3_assets:
          from: s3://com.voiceflow.ci.assets/google
          to: ~/project/tests/smoke/recordedSessions
      - vfcommon/smoke_tests

  build-push-image:
    executor: vfcommon/build-executor
    steps:
      - vfcommon/build_push_image:
          image_repo: "168387678261.dkr.ecr.us-east-1.amazonaws.com/google"
          release_pkg: "@voiceflow/google-runtime"

  deploy-image:
    executor: vfcommon/build-executor
    steps:
      - vfcommon/deploy_image:
          image_repo: "168387678261.dkr.ecr.us-east-1.amazonaws.com/google"
          namespace: "voiceflow-v1"
          target: "deployment/google"

  deploy-on-tag:
    executor: vfcommon/build-executor
    steps:
      - vfcommon/deploy_image:
          image_repo: "168387678261.dkr.ecr.us-east-1.amazonaws.com/google"
          namespace: "voiceflow-v1"
          target: "deployment/google"
          tagged: true

  build-deploy-dev-env:
    executor: vfcommon/build-executor
    steps:
      - vfcommon/build_deploy_dev_env:
          image_repo: "168387678261.dkr.ecr.us-east-1.amazonaws.com/google"
          component: "google"
          ssh_key: "0d:70:64:7b:cf:1e:f2:63:ed:a0:98:3d:a9:e2:35:b9"

# When should each job run and what are their dependencies?
workflows:
  build-deploy-staging:
    jobs:
      - build-push-image:
          context: dev-test
          filters:
            branches:
              only:
                - staging
      - deploy-image:
          context: dev-test
          requires:
            - build-push-image
          filters:
            branches:
              only:
                - staging

  # Development environments
  build-deploy-environment:
    jobs:
      - build-deploy-dev-env:
          context: dev-test
          filters:
            branches:
              only:
                - /env-.*/

  test-and-release-app::
    jobs:
      - test:
          context: dev-test
          filters:
            branches:
              ignore:
                - /env-.*/
                - staging
      - vfcommon/release:
          context: dev-test
          requires:
            - test
          filters:
            branches:
              only: master

  deploy-app:
    jobs:
      - build-push-image:
          <<: *prod_deploy_filters
          context: dev-test
      - deploy-on-tag:
          <<: *prod_deploy_filters
          context: dev-test
          requires:
            - build-push-image
